<div class="login-container">
    <form [formGroup]="form">
        <div>
            <mat-form-field>
                <input formControlName="email" matInput placeholder="Email" type="email">
            </mat-form-field>
        </div>
    
        <div>
            <mat-form-field>
                <input formControlName="password" matInput placeholder="Password" type="password">
            </mat-form-field>
        </div>
    
        <div>
            <button mat-raised-button color="primary" (click)="onLogin()">Login</button>
            <button mat-button>Sign Up</button>
        </div>
    </form>
</div>